/*
.Input input {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 5px;
  width: 100%;
}
*/
.Input > .input-wrapper {
  display: flex;
  align-items: center;
}

.Input > .input-wrapper > .input-icon {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-icon {
  margin-left: 0;
  margin-right: 10px;
}
