.Home {
  overflow: auto;
}

.Home button {
  width: 48%;
}

.Home .btn-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

button:hover {
  cursor: pointer;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
}

btn {
  background-color: #759bc2;
}
