.Room {
  box-sizing: border-box;
  padding: 15px 20px 0;
  background-image: url(../Home/readyup.webp);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.Room > div {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 0 20px;
  height: 99%;
}

.message-box {
  width: 100%;
  border: solid 2px rgb(167, 167, 167);
  border-radius: 25px;
  min-height: 120px;
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
}

.Room li:hover {
  cursor: pointer;
  flex-grow: 3;
}

.Room .headings {
  display: flex;
  flex-direction: column;
}

.headings > h1,
h4 {
  margin: 5px 0;
}

.Room .Input .input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 50px 0;
}

.Room .bottom-btn-wrapper {
  display: flex;
  position: fixed;
  bottom: 25px;
  left: 0;

  width: 100%;
  justify-content: space-around;
}

.Room .bottom-btn-wrapper .bottom-btn {
  width: 28%;
}

.Room .ready-btn {
  background: #00e600;
}

.Room .not-ready-btn {
  background: #ffcc00;
}

.Room ul {
  padding: 0 0 200px 0;
}

.Room li {
  border: 3px solid rgb(0, 0, 0);
  text-align: center;
  border-radius: 25px;
  margin: 10px 0;
  list-style: none;
  padding: 15px 0;
  font-weight: bold;
}

/* Animation by Jerry Jones: https://codepen.io/jeryj/pen/LzPjdJ */
.Room .message-box.is-active {
  animation: shockwaveJump 1s ease-out infinite;
}
.Room .message-box.is-active :after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 25px;
  animation: shockwave 1s 0.65s ease-out infinite;
}

.Room .message-box.is-active :before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 25px;
  animation: shockwave 1s 0.5s ease-out infinite;
}

@keyframes shockwaveJump {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.01);
  }
  50% {
    transform: scale(0.99);
  }
  55% {
    transform: scale(1.01);
  }
  60% {
    transform: scale(0.99);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shockwave {
  0% {
    transform: scale(1);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.15);
  }
  95% {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0), inset 0 0 10px rgba(0, 0, 0, 0);
  }
  100% {
    transform: scale(1.45);
  }
}

@media only screen and (min-width: 680px) {
  .Room ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .Room li {
    margin: 10px;
  }
}
