/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1.2em;
  height: 1.2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #989898;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

svg {
  height: 22px;
  margin: 0 10px -3px 25px;
}
