* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  width: 100%;
  padding: 20px 10px 20px 5px;
  border-radius: 25px;
  border: none;
  background-color: rgb(241, 241, 241);
  box-shadow: inset 8px 8px 12px #ffffff, inset -8px -5px 20px #cbced1;
  transition: 0.3s;
  color: rgb(16, 16, 16);
}
